.end {
  width: max-content;
  padding: 0.5rem 1rem;
  margin: 1rem;
  align-self: center;
  border-radius: 12px;
  background-color: red;
  font-size: 18px;
  color: var(--dark-light-text);
  width: 50vw;
  height: 30vw;
  border: 1px solid var(--dark-primary);
  animation: blinkAnimation 2s infinite;
}

h2 {
  padding: 1rem;
  color: var(--dark-light-text);
  text-align: center;
}

@keyframes blinkAnimation {
  0% {
    box-shadow: inset 0px 0px 100px var(--dark-primary);
  }

  50% {
    box-shadow: inset 0px 0px 100px red;
  }

  100% {
    box-shadow: inset 0px 0px 100px var(--dark-primary);
  }
}
